.header {
	width: 100%;
	background: orange;
	position: relative;
	}
.menu1 {
	width: 20%;
	position: absolute;
}
.menu1 ul li {
	float: left;
	list-style: none;
}
.menu2 {
	width: 20%;
	position: absolute;
}
.menu1 ul li {
	float: left;
	list-style: none;
}