ul {
	list-style: none;
	width: 425px;
	background-color: yellow;
	padding: 0px;
	height: 30px;
	line-height: 30px;
	padding: 5px 0px;
}
ul>li {
	display: inline-block;
	width: 100px;
	text-align: center;
	border-right: 2px solid gray;
}
ul>li:last-child {
	border-width: 0
}