
.header {
	width: 100%;
	background-color: white;
	height: 100px;
	position: relative;
}
.menu1 {
	width: 35.3%;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	position: absolute;
	top: 30px;left: 0%;
}
.menu1 ul {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding:0px;
	margin: 0px;
	position: absolute;
	right:  0%;
}
.menu1 ul li {
	list-style: none;
	float: right;
	margin-right: 2%;
	margin-left: 2%;
	font-size: 15px;
}
#menu12 {
	margin-right: 0px;
}
.menu2 {
	width: 35.3%;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	position: absolute;
	top: 30px;left: 64.7%;
}
.menu2 ul {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding:0px;
	margin: 0px;
	position: absolute;
	left: 0%;
}
.menu2 ul li {
	list-style: none;
	float: left;
	margin-left: 2%;
	font-size: 15px;
}	
.menu {
	width: 50%;
	position: relative;
	background: white;
	height: 100px;
	margin: 0px auto;
}
.logo {
	width: 29.4%;
	position: absolute;
	left: 35.3%;top: 0px;
}
#menu22 {
	color: gray;
}
.main {
	width: 100%;
	height: 1050px;
	background: #FAFAFA;
}
.main1 {
	width: 60%;
	color: #7FFFD4;
	font-size: 40px;
	margin: 0px auto;
	padding-top: 100px;
	text-align: center;
}
.main2 {
	width: 50%;
	font-size: 20px;
	margin: 0px auto;
	text-align: center;
	padding-top: 20px;
}
#anh1 {
	width: 25%;
	height: 280px;
	background: #FAFAFA;
	position: relative;
	top: 100px;left: 10%;
}
.anhlogo {
	width: 100%;
	height: 100%;
}
#anh2 {
	width: 25%;
	height: 280px;
	background: #FAFAFA;
	position: relative;
	top: -180px;left: 37.5%;
}
#anh3 {
	width: 25%;
	height: 280px;
	background: #FAFAFA;
	position: relative;
	top: -460px;left: 65%;
}
#anh4 {
	width: 25%;
	height: 280px;
	background: #FAFAFA;
	position: relative;
	top: -400px;left: 10%;
}
#anh5 {
	width: 25%;
	height: 280px;
	background: #FAFAFA;
	position: relative;
	top: -680px;left: 37.5%;
}
#anh6 {
	width: 25%;
	height: 280px;
	background: #FAFAFA;
	position: relative;
	top: -960px;left: 65%;
}
.name {
	color: #7FFFD4;
	font-size: 25px;
}
.info {
	font-size: 18px;
}
.icon {
	position: absolute;
	right: 2px;top: 33%;
	color: gray
}
.main3 {
	width: 40%;
	margin: 0px auto;
	font-size: 18px;
	text-align: center;
	position: relative;
	top: -950px;
}
.main-2 {
	width: 100%;
	background: white;
	height: 300px;
	position: relative;

}
.name2 {
	font-size: 25px;
	color: #7FFFD4;
	position: absolute;
	top: 20px;left: 10%;
}
.name3 {
	font-size: 25px;
	color: #7FFFD4;
	position: absolute;
	left: 67%;top: 20px;
}
.blue {
	color: blue;
}
#fb {
	position: absolute;
	left: 77%;top: 100px;
	font-size: 30px;
	color:  #7FFFD4;
}
#ins {
	position: absolute;
	left: 72%;top: 100px;
	font-size: 30px;
	color:  #7FFFD4;
}
#twi {
	position: absolute;
	left: 67%;top: 100px;
	font-size: 30px;
	color:  #7FFFD4;
}
#main-21 {
	width: 50%;
	position: absolute;
	top: 100px;left: 10%;
}
.footer {
	width: 100%;
	height: 600px;
	border-top: 1px dotted ;
	background: #7FFFD4;
	position: relative;
}
.name4 {
	font-size: 25px;
	color: white;
	position: absolute;
	top: 50px;left: 10%
}
.name5 {
	font-size: 20px;
	color: white;
	position: absolute;
	top: 80px;
	left: 10%;
}
.name6 {
	font-size: 20px;
	color: white;
	position: absolute;
	top: 130px;
	left: 10%;
}
.input1 {
	width: 80%;
	position: absolute;
	top: 160px;left: 10%;
	height: 30px;
}
.name7 {
	font-size: 20px;
	color: white;
	position: absolute;
	top: 210px;
	left: 10%;
}
.input2 {
	width: 80%;
	position: absolute;
	top: 240px;left: 10%;
	height: 30px;
}
.name8 {
	font-size: 20px;
	color: white;
	position: absolute;
	top: 290px;
	left: 10%;
}
.input3 {
	width: 80%;
	position: absolute;
	top: 320px;left: 10%;
	height: 100px;
}
.name9 {
	font-size: 20px;
	color: white;
	position: absolute;
	top: 440px;
	left: 10%;
}
.input4 {
	width: 80%;
	position: absolute;
	top: 470px;left: 10%;
	height: 30px;
}
.input5 {
	background: #008B8B;
	width: 8%;
	position: absolute;
	top: 520px;left: 10%;
}
.thongtin{
	width: 100%;
	height: 26%;
	position: relative;
	top: 15%;
}
.infomation {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0px;
	opacity: 0;
	background: white;
}
.info1{
	font-size: 20px;
	color: blue;
}
.info2{
	font-size: 15px;
}
.image{
	width: 100%;
	height: 52.85%;
	position: relative;
	top: 0px;
}
.image:hover .infomation {
	opacity: 0.5;
	animation-name: example;
	animation-duration: 2s;
}
@keyframes example {
    from {top: 100%;}
    to {top: 0px;}
}
@media all and (max-width: 700px) and (min-width: 481px) {
.menu {
	width: 80%;
	margin: 0px auto;
}
.menu1 {
	width: 35.3%;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	position: absolute;
	top: 30px;left: 0%;
}
.menu1 ul {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding:0px;
	margin: 0px;
	position: absolute;
	right:  0%;
}
.menu1 ul li {
	list-style: none;
	float: right;
	margin-right: 4%;
	margin-left: 4%;
	font-size: 8px;
}
#menu12 {
	margin-right: 0px;
}
.menu2 {
	width: 35.3%;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	position: absolute;
	top: 30px;right: 0%;
}
.menu2 ul {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding:0px;
	margin: 0px;
	position: absolute;
	left: 0%;
}
.menu2 ul li {
	list-style: none;
	float: left;
	margin-left: 4%;
	font-size: 8px;
}	
.logo {
	width: 29.4%;
	position: absolute;
	left: 35.3%;top: 0px;
}
#menu22 {
	color: gray;
}
#anh1 {
		width: 35%;
		position: relative;
		top: 100px;left: 10%;
}
#anh2 {
		width: 35%;
		position: relative;
		top: -180px;left: 55%;
	}
#anh3 {
		width: 35%;
		position: relative;
		top: -150px;left: 10%;
}
#anh4 {
		width: 35%;
		position: relative;
		top: -430px;left: 55%;
}
#anh5 {
		width: 35%;
		position: relative;
		top: -400px;left: 10%;
}
#anh6 {
		width: 35%;
		position: relative;
		top: -680px;left: 55%;
}
.main1 {
	width: 80%;
	color: #7FFFD4;
	font-size: 30px;
	margin: 0px auto;
	padding-top: 100px;
	text-align: center;
}
.main2 {
	width: 80%;
	font-size: 20px;
	margin: 0px auto;
	text-align: center;
	padding-top: 20px;
}
.main {
	width: 100%;
	height: 1450px;
	background: #FAFAFA;
}
.main3 {
	width: 40%;
	margin: 0px auto;
	font-size: 18px;
	text-align: center;
	position: relative;
	top: -600px;
}
.main-2 {
	height: 500px;
}
#main-21 {
	width: 80%;
	left: 10%;top: 20%;
}
.name3 {
	left: 10%;top: 60%;
}
#twi {
	left: 10%;top: 75%;
}
#ins {
	left: 20%;top: 75%;
}
#fb {
	left: 30%;top: 75%;
}
}
@media all and (max-width: 480px) {
	.menu {
		width: 100%;
	}
	.menu1 {
		display: none;
	}
	.menu2 {
		display: none;
	}
	.header {
		height: 40px;
	}
	.main{
		height: 2400px;
	}
	.main1{
		font-size: 20px;
	}
	.main2 {
		font-size: 10px;
	}
	#anh1 {
		width: 80%;
		left: 10%;
	}
	#anh2 {
		width: 80%;
		left: 10%;
		top: 6%;
	}
	#anh3 {
		width: 80%;
		left: 10%;
		top: 8%;
	}
	#anh4 {
		width: 80%;
		left: 10%;
		top: 10%;
	}
	#anh5 {
		width: 80%;
		left: 10%;
		top: 12%;
	}
	#anh6 {
		width: 80%;
		left: 10%;
		top: 14%;
	}
	.main3 {
		width: 80%;
		left: 1%;
		top: 18%;
	}
	.main-2 {
		height: 500px;
	}
	#main-21{
		width: 80%;
		left: 10%;
	}
	.name3{
		top: 75%;left: 10%;
	}
	#twi {
		left: 10%;top: 85%;
	}
	#ins {
		left: 20%;top: 85%;
	}
	#fb {
		left: 30%;top: 85%;
	}
	.input5{
		width: 80%;
		left: 10%;
	}
}